body {
  background: #242815;
}

.main {
  //background-color: #5D653B;
  text-align: center;
}

.menu {
  background-color: #3E4425;
  height: 50px;
}

.welcome {
  padding: 20px;
  background-color: #5D653B;
  height: 150px;
}

.pollcontrols {
  background-color: #B2BC87;
  padding:20px;
}

.polllist {
  background-color: #5D653B;
  padding: 20px;
}

.addpollform {
  display: none
}

.pollEntry {
  background-color: #D8E0B8;
  height: 50px;
  width: 800px;
  border-radius: 6px;
  margin: auto;
  line-height: 50px;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
}

.pollEntry:hover {
  background-color: #F4F8E3
}

.deletebtn {
  //position: relative;
  transform: translateY(-2px);
  text-align: right;
}
